spring:
  application:
    name: springboot-api

  datasource:
    url: jdbc:mysql://${DB_HOST:15.235.146.250}:${DB_PORT:35531}/${DB_NAME:test}?useSSL=false&serverTimezone=UTC
    username: ${DB_USER:thimira}
    password: ${DB_PASSWORD:XrTWGbVgLisVxhwixwq}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    open-in-view: false
